$primary: #2d8ecb;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$theme-colors: (
  "light": $gray-200,
);

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

$font-family-base:         "Open Sans", #{$font-family-sans-serif};

$breadcrumb-font-size:     0.9rem;
$breadcrumb-bg:            $primary;
$breadcrumb-divider-color: #ffffff;
$breadcrumb-active-color:  #ffffff;
$breadcrumb-border-radius: 0;

/* Bootstrap */
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
@import 'bootstrap/scss/code';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/input-group';
@import 'bootstrap/scss/custom-forms';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/jumbotron';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/media';
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/toasts';
@import 'bootstrap/scss/modal';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/carousel';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/print';

/* Utils */
@import 'utils/icons.scss';

/* Layout */
@import 'layout/body';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/main';
@import 'layout/options';

/* Components */
@import 'components/artifact-list';
@import 'components/community';
@import 'components/detail-view';
@import 'components/form';
@import 'components/heading';
@import 'components/menu';
@import 'components/pagination';
@import 'components/progress';
@import 'components/recent-submissions';
@import 'components/search';
@import 'components/table';
