#ds-footer {
    @extend .col-12;

    align-items: center;
    background: $gray-100;
    background-clip: content-box;
    background-origin: content-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;

    > * {
        margin: 15px;
    }
}

#ds-footer-logo {
    flex: 0 0 100px;

    @include media-breakpoint-down(sm) {
        order: 1;
    }

    a {
        display: block;
    }

    img {
        @extend .img-fluid;
    }
}

#ds-footer-links {
    flex: 1 1 auto;
    text-align: center;

    @include media-breakpoint-down(sm) {
        order: 2;
    }

    img {
        @extend .img-fluid;
    }

    &-sibifrs {
        display: block;
        margin-inline: auto;
        margin-block-end: 1rem;
        max-width: 250px;
    }
}

#ds-footer-credits {
    flex: 0 0 100px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
        order: 1;
    }

    img {
        @extend .img-fluid;
    }

    > *:not(:last-child) {
        margin-bottom: 30px;
    }
}
