#ds-header {
    @extend .col-12;

    margin-top: 32px;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
}

#ds-header-link {
    display: inline-block;
    max-width: 516px;
}

#ds-header-logo {
    @extend .img-fluid;

    margin-bottom: 1rem;
    margin-right: 30px;
}

#ds-static-pagetitle {
    font-size: 2rem;
}

#ds-user-box {
    @extend .btn-group;

    @include media-breakpoint-up(sm) {
        position: absolute;
        top: 30px; right: 15px;
    }
}

#ds-user-login {
    @include icon-login(#ffffff);

    background-position: 0.25rem center;
    background-size: 1rem;
    padding-left: 1.5rem;
}

#ds-user-logout {
    @include icon-logout(#ffffff);

    background-position: right 0.25rem center;
    background-size: 1rem;
    padding-right: 1.5rem;
}

#ds-user-profile {
    @include icon-profile(#ffffff);

    background-position: 0.25rem center;
    background-size: 1rem;
    padding-left: 1.5rem;
}

#ds-trail {
    @extend .breadcrumb;

    background: url('../../images/bg-primary.png') repeat left center;
    clear: both;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 1rem;

    a {
        color: #ffffff;
        font-weight: 600;
    }

    .ds-trail-link {
        @extend .breadcrumb-item;
    }

    .first-link {
        @include icon-home(#ffffff);

        background-position: left center;
        padding-left: 2rem;
    }

    .last-link {
        @extend .active;
    }
}
