#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser {
    > ul {
        @extend .card-columns;

        @include media-breakpoint-down(md) {
            column-count: 2;
        }

        @include media-breakpoint-only(xs) {
            column-count: 1;
        }

        list-style: none;
        padding: 0;

        > li {
            @extend .card;

            border: none;

            .bold {
                display: block;

                > a {
                    @extend .btn;
                    @extend .btn-primary;
                    @extend .btn-block;

                    padding-bottom: 25px;
                    padding-top: 25px;
                }

                > ul {
                    list-style: none;
                    margin: 0 auto;
                    padding: 0;
                    width: 80%;

                    > li {
                        > a {
                            @extend .btn;
                            @extend .btn-light;
                            @extend .btn-block;

                            border-radius: 0;
                        }

                        &:last-child {
                            > a {
                                border-bottom-left-radius: $border-radius;
                                border-bottom-right-radius: $border-radius;
                            }
                        }
                    }
                }
            }
        }
    }
}
