#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser {
    > ul {
        @extend .card-columns;

        @include media-breakpoint-down(md) {
            column-count: 2;
        }

        @include media-breakpoint-only(xs) {
            column-count: 1;
        }

        list-style: none;
        padding: 0;

        > li {
            @extend .card;

            &:hover {
                border-color: $primary;
            }

            .bold {
                @extend .card-body;
                display: block;

                a {
                    @extend .card-link;
                }

                > ul {
                    @extend .list-group;
                    @extend .list-group-flush;

                    > li {
                        @extend .list-group-item;
                    }
                }
            }
        }
    }
}
