#aspect_artifactbrowser_CommunityBrowser_div_comunity-browser {
    > ul {
        @extend .row;

        list-style: none;
        padding: 0;

        > li {
            @extend .col-12;
            @extend .col-sm-6;
            @extend .col-lg-4;

            .bold > a {
                border: 1px solid $gray-300;
                color: $gray-800;
                display: block;
                padding: 4rem 1rem;
                text-align: center;

                &:hover {
                    border-color: $link-color;
                    color: $link-hover-color;
                    text-decoration: none;
                }
            }
        }
    }
}
