.ds-simple-list {
    &:not(#aspect_administrative_ControlPanel_list_options):not(.alphabet) {
        @extend .list-group;

        .ds-simple-list-item {
            @extend .list-group-item;
        }
    }

    &.alphabet {
        list-style: none;
        padding: 0;

        @include media-breakpoint-up(sm) {
            column-count: 2;
        }

        @include media-breakpoint-up(lg) {
            column-count: 4;
        }

        a {
            @extend .btn;
            @extend .btn-link;
        }
    }

    &#aspect_administrative_ControlPanel_list_options {
        @extend .nav;
        @extend .nav-pills;

        margin-bottom: 15px;

        .ds-simple-list-item {
            @extend .nav-item;

            a {
                @extend .nav-link;
            }

            span.bold {
                a {
                    @extend .active;
                }
            }
        }
    }
}
