.ds-simple-list {
    &:not(.alphabet):not(.community-browse):not(.collection-browse):not(#aspect_administrative_ControlPanel_list_options) {
        @extend .list-group;

        .ds-simple-list-item {
            @extend .list-group-item;

            > .ds-simple-list {
                margin-top: 1rem;
            }
        }
    }

    &.alphabet {
        list-style: none;
        padding: 0;

        .ds-simple-list-item {
            display: inline-block;
            margin-bottom: 5px;

            &:not(:last-child) {
                margin-right: 5px;
            }
        }

        a {
            @extend .btn;
            @extend .btn-link;
        }
    }

    &.community-browse,
    &.collection-browse {
        @extend .nav;
        @extend .nav-pills;

        margin-bottom: 15px;

        .ds-simple-list-item {
            @extend .nav-item;

            a {
                @extend .nav-link;
            }
        }
    }

    &#aspect_administrative_ControlPanel_list_options {
        @extend .nav;
        @extend .nav-pills;

        margin-bottom: 15px;

        .ds-simple-list-item {
            @extend .nav-item;

            a {
                @extend .nav-link;
            }

            span.bold {
                a {
                    @extend .active;
                }
            }
        }
    }
}
