.ds-option-set-head {
    color: $gray-900;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
}

.ds-option-set {
    margin-bottom: 30px;

    .ds-options-list {
        .ds-sublist-head {
            margin-top: 1rem;
        }

        > li {
            > a {
                @extend .list-group-item;
                @extend .list-group-item-action;
            }
        }
    }

    .ds-simple-list {
        @extend .list-group;

        margin-bottom: 15px;

        > li {
            @extend .list-group-item;

            font-weight: 600;

            > a {
                @extend .list-group-item-action;

                display: block;
                font-weight: normal;
                margin: -0.75rem -1.25rem;
                padding: 0.75rem 1.25rem;
                width: auto;
            }
        }
    }
}

.ds-options-list {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
        display: block;
    }
}

.ds-sublist-head {
    color: $gray-900;
    font-size: 1.1rem;
    text-align: center;
}

#ds-feed-option {
    text-align: center;

    ul {
        font-size: 0.9rem;
        list-style: none;
        padding: 0;

        > li {
            display: inline-block;
            margin: 5px;
        }
    }

    a {
        @include icon-feed($gray-900);

        background-color: #ffffff;
        background-position: 0.25rem center;
        background-size: 1rem;
        border: 1px solid $gray-200;
        color: $cor-feed;
        display: block;
        font-weight: 600;
        padding: 0.25rem 0.5rem 0.25rem 1.5rem;

        &:hover {
            background-color: $cor-feed;
            color: #ffffff;
            text-decoration: none;
        }
    }
}
