#ds-search-option-head {
    @extend .sr-only;
}

#ds-search-form {
    margin: 30px 0;

    .ds-text-field {
        @extend .form-control;

        display: inline-block;
        width: auto;
    }

    input[type=radio] {
        margin-right: 5px;
    }

    .ds-button-field {
        @extend .btn;
        @extend .btn-primary;

        @include icon-search(#ffffff);

        height: 38px;
        width: 38px;

        /* Hide text */
        font-size: 0;
        line-height: 0;
    }
}
