#ds-search-option-head {
    @extend .sr-only;
}

#ds-search-form {
    margin: 30px 0;

    .ds-text-field {
        @extend .form-control;

        @include media-breakpoint-up(lg) {
            display: inline-block;
            width: 80%;
        }
    }

    input[type=radio] {
        margin-right: 5px;
    }

    .ds-button-field {
        @extend .btn;
        @extend .btn-primary;

        @include icon-search(#ffffff);

        display: block;
        margin: 5px 0;
        height: 38px;
        width: 38px;

        /* Hide text */
        font-size: 0;
        line-height: 0;

        @include media-breakpoint-up(lg) {
            display: inline-block;
            margin: 0;
        }
    }
}
