.ds-option-set-head {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
}

.ds-option-set {
    margin-bottom: 30px;
}

.ds-options-list {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
        display: block;
    }
}

.ds-sublist-head {
    font-size: 1.1rem;
    text-align: center;
}

.ds-simple-list {
    @extend .list-group;

    > li {
        list-style: none;

        > a {
            @extend .list-group-item;
            @extend .list-group-item-action;
        }
    }
}

#ds-feed-option {
    ul {
        @extend .list-group;

        > li {
            list-style: none;

            > a {
                @extend .list-group-item;
                @extend .list-group-item-action;
            }
        }
    }

    a {
        background-position: left center;
        padding-left: 20px;
    }
}
