#ds-search-option-head {
    @extend .sr-only;
}

#ds-search-form {
    @extend .form-inline;

    margin: 30px 0;

    fieldset {
        @extend .input-group;
    }

    .ds-text-field {
        @extend .form-control;
    }

    .ds-button-field {
        @extend .btn;
        @extend .btn-primary;

        @extend .input-group-append;

        @include icon-search(#ffffff);

        height: 38px;
        width: 38px;

        /* Hide text */
        font-size: 0;
        line-height: 0;
    }
}
