@mixin icon() {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

@mixin icon-home($color) {
    @include icon();
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22#{str-replace(inspect($color), '#', '%23')}%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22square%22%20stroke-linejoin%3D%22arcs%22%3E%3Cpath%20d%3D%22M20%209v11a2%202%200%200%201-2%202H6a2%202%200%200%201-2-2V9%22%2F%3E%3Cpath%20d%3D%22M9%2022V12h6v10M2%2010.6L12%202l10%208.6%22%2F%3E%3C%2Fsvg%3E");
}

@mixin icon-search($color) {
    @include icon();
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22#{str-replace(inspect($color), '#', '%23')}%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22square%22%20stroke-linejoin%3D%22arcs%22%3E%3Ccircle%20cx%3D%2211%22%20cy%3D%2211%22%20r%3D%228%22%3E%3C%2Fcircle%3E%3Cline%20x1%3D%2221%22%20y1%3D%2221%22%20x2%3D%2216.65%22%20y2%3D%2216.65%22%3E%3C%2Fline%3E%3C%2Fsvg%3E");
}

@mixin icon-feed($color) {
    @include icon();
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22#{str-replace(inspect($color), '#', '%23')}%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22square%22%20stroke-linejoin%3D%22arcs%22%3E%3Cpath%20d%3D%22M4%2011a9%209%200%200%201%209%209%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M4%204a16%2016%200%200%201%2016%2016%22%3E%3C%2Fpath%3E%3Ccircle%20cx%3D%225%22%20cy%3D%2219%22%20r%3D%221%22%3E%3C%2Fcircle%3E%3C%2Fsvg%3E");
}
